[Unit]
Description=Updates Metaname DNS Record with Public IP
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /path/to/script.py
WorkingDirectory=/path/to/
User=<user>

[Install]
WantedBy=multi-user.target
